<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>

<body>
    <h1>
        <%=tasks[0].list_id%>-
            <%=tasks[0].list_name%>
    </h1>
    <form action="/addTask/<%=tasks[0].list_id%>" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" />
        <input type="submit" /> <input type="hidden" value=<%=tasks[0].list_id%> name="to_do_id">

    </form>
    <%if (tasks.length > 1) { %>


        <ul>
            <%tasks.forEach((task) => {%>
                <li>
                    <a href="/taskDetail/<%= task.id %>">

                        <%= task.name %>
                    </a>
                </li>
                <%})%>
        </ul>
        <% } %>
</body>

</html>